// main - dark : #24293e\
// secondary color: #8ebbff
// text - dolor : #fffffe

.app_dark_theme {
    --bg-color: #24293e;
    --inverted-bg-color: #eeedef;

    --primary-color: #fffffe;
    --secondary-color: #8ebbff;
    // inverted color
    --inverted-primary-color: #1c181c;
    --inverted-secondary-color: #fffffe;
}